
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body{
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 24px;
}



#email{
    border-radius: 50px;
    background-color: #7BCFBD;
    text-align: center;
    color: black;
    border: none;
    width: 370px;  /* Ancho ajustado */
    height: 48px;  /* Altura ajustada */
    font-size: 16px;
    font-weight: bold;
}


#contraseña {
    border-radius: 50px;
    background-color: #7BCFBD;
    text-align: center;
    color: black;
    border: none;
    width: 370px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    background-color: #9EEB92;
    font-weight: bold;
    width: 277px;
    height: 44.92px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #7ecf6e;
    transform: scale(1.05);
}



.profile-icon {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

header{
    background-color: #85C5B7;
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.29em;
}

.logo{
    position: absolute;
    left: 80%;
}

.col-custom {
    width: 70%;
}


.col-custom p {
    margin-right: 20px;
    color: #000000;
}

.si {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgot-password {
    right: 60px;
    color: rgba(128, 128, 128, 0.5);
    text-decoration: none;
}

.rectangulo {
    position: absolute;
    top: 16%;
    right: 76%;
    width: 25%;
    height: auto;
    z-index: -1;
}


.rectangulo2 {
    position: absolute;
    bottom: -35%;
    right: -10px;
    width: 40%;
    height: auto;
    z-index: -1;
}

.rectangulo3 {
    position: absolute;
    bottom:-35%; /* Ajusta esta posición relativa a rectangulo2 */
    right: -10px;
    width: 15%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    z-index: -1;
}