@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.form-control {
    border-radius: 50px;
    background-color: #7BCFBD;
    text-align: center;
    color: black;
    border: none;
    width: 370px;  /* Ancho ajustado */
    height: 48px;  /* Altura ajustada */
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;  /* Añadir margen inferior */
}

.btn {
    background-color: #9EEB92;
    font-weight: bold;
    width: 277px;
    height: 44.92px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #7ecf6e;
    transform: scale(1.05);
}

.profile-icon {
    width: 174px;
    height: auto;
    margin-bottom: 20px;
}
